header{
	font-family: Verdana, "Arial Black" , sans-serif;
	margin: 0px auto;
	padding: 0px auto;
}

nav{
	width: 100%;
	background-color: #fd7448;
}

nav > ul{	
	margin: 0px;
	padding:0px;	
}

nav > ul::after{
	content:"";
	display: table;
	clear: both;
}

nav > ul > li{
	float: left;
	position: relative;
}

nav > ul > li a{
	padding: 20px 30px;
	color:#FFF;
}

nav > ul >li::hover a{
	padding: 15px 30px 20px 30px;
}

nav li{	
	list-style-type: none;
	float: left;
}

.submenu{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}
nav label{
	display: none;
}
nav a{
	display: inline-block;
	text-decoration: none;	
}

nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}

.submenu li{
	border-bottom:1px solid #CCC;
}

.submenu li a{
	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.menu-html:hover{
	border-top: 5px solid #e44d36;
	background-color: RGBa(228,77,38,0.15);		
}

.menu-css:hover{
	border-top: 5px solid #0070bb;
	background-color: RGBa(000,112,192,0.15);
}

.menu-Javascript:hover{
	border-top: 5px solid #f1dc4f;
	background-color: RGBa(241,211,79,0.15);
}

.menu-Contact:hover{
	border-top: 5px solid #BBB;
	background-color: RGBa(220,220,220,0.15);
}

.menu-Nous:hover{
	border-top: 5px solid #a2f92f;
	background-color: RGBa(162,249,47,0.15);
}

.menu-html .submenu{
	background-color: RGB(230,100,40);
}

.menu-css .submenu{
	background-color: RGB(000,160,240);
}

.menu-Javascript .submenu{
	background-color: RGB(250,215,100);
}

.menu-Contact .submenu{
	background-color: RGB(220,220,220);	
}

.menu-Nous .submenu{	
	background-color: RGB(127,255,0);
}

.submenu li:hover a{
	color: #EEE;
	font-weight: bold;
}

.menu-html .submenu li:hover{
	background-color: RGB(210,77,60);
}

.menu-css .submenu li:hover{
	background-color: RGB(000,115,200);
}
.menu-Javascript .submenu li:hover{
	background-color: RGB(200,165,75); 
}

.menu-Contact .submenu li:hover{
	background-color: RGB(192,192,192);
}

.menu-Nous .submenu li:hover{
	background-color: RGB(0,255,0);
}

nav input[type=checkbox]:checked ~ ul{
	display: block;
}

@media screen and (max-width: 780px){
	.menu-mobile{
		display: block;
		color: #FFF;
		background-color: RGB(29,197,151,0.97);
		text-align: center;
		padding: 12px 0px;
	    }	
		nav ul{
			display: none;
		}
	    nav ul li, nav ul li a{
		    width: 100%;
		    text-align: center;	
	    }
	    nav ul li a, nav ul li:hover a{
		    padding: 10px 0px;
	    }
	    nav li:hover .submenu{
		    display: block;
		    position: static;
	    }
	    header{
		   height: 50px;			
	    }
		body{
		   height: 100%;
	     }
		h1{
		   font-size: 28px;
		   margin: 20px;
	    }	    
	    h2{}
	    p{	
	
}    
	    p1{}	
	    p2{}
	    p3{}
	    p4{}
	    p5{}
	    p6{}
	.Text{
		
}
	.Text1{}	
	.Text2{}
	.Text3{
		
}
	.diapo1{	
	width: 0 auto;
	height: 0 auto;
	display: flex;
    justify-content: center;	
}
	.diapo2{	
	width:  0 auto;
	height:  0 auto;
	display: flex;
    justify-content: center;
	
}
	.Screen{
	width: 500px;
	height: 50px;
	float: bottom;
    margin-bottom: 100px;
}	
	.Screen1{
	margin-left: 1px;
	height: 50px;
	float: left;
    margin-bottom: 100px;
}
	.Monstage{width: 100%; height: 100%;}
	.Maformation{width: 100%; height: 100%;} 
	.Monexperience{width: 100%; height: 100%;}
	.Mesprojets{width: 100%; height: 100%;}
	.Monweb{width: 100%; height: 100%;}
	img{}
	img1{}
}

@media screen and (min-width: 992px){
		body{
		margin: 0px;
		padding: 0px;
		width: 100%;
}
		h1{
		font-family: Verdana, Cursiva, serif;
		font-size: 30px;
		margin: auto;
		padding: auto;
		height: 50px;
		width: 250px;
		background-color:#02FFFF;
		border: 10px ridge white;
		border-radius: 15px;
		box-shadow: 5px 5px 10px orange;
		text-align:center;
		color: #F9D92E;	
	    }
        h2{
		font-family:  "Arial Black", serif;
		color: #FCFF9E;
        }
	    p1{
	    font-family: "Arial Black",serif;
		color: white;
		height: 50px;
		width: 2000px;
		background-color: slateblue;
		border-width: 1px;
		border-style: inset;
		border-color: lightgoldenrodyellow;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
		padding-top: 10px;
		padding-left: 10px;
		display: flex;
		flex-wrap: wrap;
		margin-left: 0px;
		margin-bottom: 0px;
		box-shadow: 4px 3px 7px orange inset;}
	    p2{}
	    p3{}
	    p4{}
	    p5{}
	    p6{}	
	.Text{
		width: 500px;
		height: 400px;
		z-index: 100px;
		float: left;
		clear: left;}
	.Text1{
		width: 400px;
		height: 200px;
		z-index: 100px;
		float: right;
		clear: left;
        overflow: scroll;}	
	.Text2{
		width: 500px;
		height: 400px;
		z-index: 100px;
		float: left;
		clear: left;
}
	.Text3{
		width: 500px;
		height: 400px;
		z-index: 100px;
		float: right;
		clear: left;
}
	.diapo1{
	margin: 0 auto;
	padding: 0 auto;	
	width: 0 auto;
	height:  0 auto;
	display: flex;
    justify-content: center;
	border: 3px solid #333;
	background-image: url("Images/Imagefacebook5.jpg");
	
	webkit-animation-name: diapo1;
	webkit-animation-duration: 9s;
	webkit-animation-timing-function: linear;
	webkit-animation-iteration-count: infinite;
	webkit-animation-direction: normal;
		
	moz-webkit-animation-name: diapo1;
	moz-webkit-animation-duration: 9s;
	moz-webkit-animation-timing-function: linear;
	moz-webkit-animation-iteration-count: infinite;
	moz-webkit-animation-direction: normal;
	
	animation-name: diapo1;
	animation-duration: 9s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;	
}
    .diapo2{
	margin: 0 auto;
	width:  0 auto;
	height:  0 auto;
	padding: 0 auto;	
	display: flex;
    justify-content: center;
	border: 3px solid #333;
	background-image: url("Images/Image1.jpg");
	background-image: url("Images/Image2.jpg");
	background-image: url("Images/Image3.jpg");
	
	webkit-animation-name: diapo2;
	webkit-animation-duration: 12s;
	webkit-animation-timing-function: linear;
	webkit-animation-iteration-count: infinite;
	webkit-animation-direction: normal;
	
	moz-webkit-animation-name: diapo2;
	moz-webkit-animation-duration: 12s;
	moz-webkit-animation-timing-function: linear;
	moz-webkit-animation-iteration-count: infinite;
	moz-webkit-animation-direction: normal;
	
	animation-name: diapo2;
	animation-duration: 12s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;	
}
	.Screen{
	width: 500px;
	height: 50px;
	float: bottom;
    margin-bottom: 100px;
}
    .Screen1{
	margin-left: 1px;
	height: 50px;
	float: left;
    margin-bottom: 100px;
}
	.Monstage{width: 100%; height: 100%;}
	.Maformation{
    width: 100%;
	height: 100%;	
 }
	.Monexperience{width: 100%; height: 100%;}
	.Creative{width: 100%; height: 100%;}
	img{}
	img1{}
}

@media screen and (min-width: 1488px) {
		body{
		margin: 0px;
		padding: 0px;
		width: 100%;
}
  		h1{
		font-family: Verdana, Cursiva, serif;
		font-size: 30px;
		margin: auto;
		padding: auto;
		height: 50px;
		width: 250px;
		background-color:#02FFFF;
		border: 10px ridge white;
		border-radius: 15px;
		box-shadow: 5px 5px 10px orange;
		text-align:center;
		color: #F9D92E;	
	    }
        h2{
		font-family:  "Arial Black", serif;
		color: #FCFF9E;
        }
	    p1{
		font-family: "Arial Black",serif;
		color: white;
		height: 50px;
		width: 2000px;
		background-color: slateblue;
		border-width: 1px;
		border-style: inset;
		border-color: lightgoldenrodyellow;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
		padding-top: 10px;
		padding-left: 10px;
		display: flex;
		flex-wrap: wrap;
		margin-left: 0px;
		margin-bottom: 0px;
		box-shadow: 4px 3px 7px orange inset;	
	    }
	    p2{}
	    p3{}
	    p4{}
	    p5{}
	    p6{}
	.Text{
		width: 500px;
		height: 400px;
		z-index: 100px;
		float: left;
		clear: left;
}
	.Text1{
		width: 400px;
		height: 200px;
		z-index: 100px;
		float: right;
		clear: left;
		overflow: scroll;
}
	.Text2{
		width: 500px;
		height: 400px;
		z-index: 100px;
		float: left;
		clear: left;
}
	.Text3{
		width: 500px;
		height: 400px;
		z-index: 100px;
		float: right;
		clear: left;
}
	.diapo1{
	margin: 0 auto;
	width: 960px;
	height: 500px;
	display: flex;
    justify-content: center;	
	border: 3px solid #333;
	background-image: url("Images/Imagefacebook5.jpg");
	
	webkit-animation-name: diapo1;
	webkit-animation-duration: 9s;
	webkit-animation-timing-function: linear;
	webkit-animation-iteration-count: infinite;
	webkit-animation-direction: normal;
		
	moz-webkit-animation-name: diapo1;
	moz-webkit-animation-duration: 9s;
	moz-webkit-animation-timing-function: linear;
	moz-webkit-animation-iteration-count: infinite;
	moz-webkit-animation-direction: normal;
	
	animation-name: diapo1;
	animation-duration: 9s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;	
}
	.diapo2{
	margin: 0 auto;
	width: 960px;
	height: 500px;
	padding: 0 auto;	
	display: flex;
    justify-content: center;
	border: 3px solid #333;
	background-image: url("Images/Image1.jpg");
	background-image: url("Images/Image2.jpg");
	background-image: url("Images/Image3.jpg");
	
	webkit-animation-name: diapo2;
	webkit-animation-duration: 12s;
	webkit-animation-timing-function: linear;
	webkit-animation-iteration-count: infinite;
	webkit-animation-direction: normal;
	
	moz-webkit-animation-name: diapo2;
	moz-webkit-animation-duration: 12s;
	moz-webkit-animation-timing-function: linear;
	moz-webkit-animation-iteration-count: infinite;
	moz-webkit-animation-direction: normal;
	
	animation-name: diapo2;
	animation-duration: 12s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;	
}
	.Screen{
	width: 500px;
	height: 50px;
	float: bottom;
    margin-bottom: 100px;
}	
	.Screen1{
	margin-left: 1px;
	height: 50px;
	float: left;
    margin-bottom: 100px;
}	
   	.Maformation{   		
	width: 100%;
	height: 100%;	
 }	
	img{}
	img1{}
}
	
@-webkit-keyframes radar {
  0%   { transform: scale(0); opacity: .8; }
  100% { transform: scale(1); opacity: 0; }
}
@-moz-keyframes radar {
  0%   { transform: scale(0); opacity: .8; }
  100% { transform: scale(1); opacity: 0; }
}
@-o-keyframes radar {
  0%   { transform: scale(0); opacity: .8; }
  100% { transform: scale(1); opacity: 0; }
}
@keyframes radar {
  0%   { transform: scale(0); opacity: .8; }
  100% { transform: scale(1); opacity: 0; }
}

table{
	display: table;
	margin: 0 auto;
}

body{
	margin: 0 auto;
	padding: 0 auto;
	width: 100%;
	height: 100%;
}

Body1{
	
	font-size: 16px;
	font-family: Verdana sans-serif;
	color: #333;
}

h1{
	font-family: Verdana, Cursiva, serif;
	font-size: 30px;
	margin: auto;
	padding: auto;
	height: 50px;
	width: 250px;
	background-color:#02FFFF;
	border: 10px ridge white;
	border-radius: 15px;
	box-shadow: 5px 5px 10px orange;
	text-align:center;
	color: #F9D92E;	
}

h2{
	font-family:  "Arial Black", serif;
	color: #FCFF9E;
}

h3{
	font-family: "Arial Black", serif;
	color: antiquewhite;
}

h4{
	font-family: "Arial Black", serif;
	color: floralwhite;
}

h5{
	font-family: "Arial Black", serif;
	color: navajowhite;
}

h6{
    font-family: "Arial Black" serif;
	color: ghostwhite;	
}

H1{
	font-family: Verdana, Cursiva, serif;
	font-size: 30px;
	margin: auto;
	padding: auto;
	height: 50px;
	width: 250px;
	background-color:#02FFFF;
	border: 10px ridge white;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #A037DC;
	text-align:center;
	color: #F9D92E;		
}

#section1{
	background-color:-moz-linear-gradient(-45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
	background-image:-webkit-linear-gradient(-45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
	padding: 10px;
	margin: 20px 0px;
}

#section2{
	background-color:-moz-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
	background-image:-webkit-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
	padding: 10px;
	margin: 20px 0px;
}

#section1:hover, #section2:hover{
	box-shadow: 0px 0px 5px #444;
}

legend{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	color: #444;
}

#section1 input{
	width: 300px;
	height: 20px;
}

#section2 input{
	width: 300px;
	height: 20px;
}

#section1 label{
	diplay: inline-block;
	width: 100px;
	padding: 5px 0px 15px 10px;
	margin: 0 auto;
}

#section2 label{
	display: inline-block;
	width: 100px;
	padding: 5px 0px 15px 10px;
}

input[type="submit"]{
	float: center;
	padding: 14px;
	font-size: 14px;
	color: #fff;
	background-color:#fe6921;
	font-weight: bold;
	text-transform: uppercase; 
	border-radius: 5px;
}

input[type="submit"]:hover{
    box-shadow: 0px 0px 4px #555;
	background-color: #e8ab2e;
}

.Text{ 
	width: 500px;
	height: 400px;
	z-index: 100px;
	float: left;
	clear: left;
}

.Text1{
	width: 400px;
	height: 200px;
	z-index: 100px;
	float: right;
	clear: left;
	overflow: scroll;
}

.Text2{
	width: 500px;
	height: 400px;
	z-index: 100px;
	float: left;
	clear: left;
}

.Text3{
	width: 500px;
	height: 400px;
	z-index: 100px;
	float: right;
	clear: left;
}

.Text4{
	width: 500px;
	height: 400px;
	z-index: 100px;
	float: left;
	clear: left;
}


.Screen{
	width: 500px;
	height: 50px;
	float: bottom;
    margin-bottom: 100px;
}

.Screen1{
	margin-left: 1px;
	height: 50px;
	float: left;
    margin-bottom: 100px;
}

p{	
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: deepskyblue;
}

p1{
	font-family: "Arial Black",serif;
	color: white;
    height: 50px;
    width: 2000px;
    background-color: slateblue;
    border-width: 1px;
	border-style: inset;
	border-color: lightgoldenrodyellow;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 10px;
	padding-left: 10px;
	display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-bottom: 0px;
	box-shadow: 4px 3px 7px orange inset;	
}

p2{	
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: #26223e;
}

p3{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: #26223e;
}

p4{	
	font-family : "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color : #fff;
	right : 50px;
	float : right;
}

p5{
	font-family : "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color : #fff;
	left : 50px;
	clear: both;
}

p6{
	font-family: Verdana, "Arial Black" , sans-serif;
	color: white;
	margin: 0px auto;
	padding: 0px auto;
}

p7{
	font-family: Verdana, "Arial Black" , sans-serif;
	font-size: 15px;
	color: black;
	margin: 0px auto;
	padding: 0px auto;
}


p8{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 15px;
	color: navajowhite;
	margin: 0px auto;
	padding: 0px auto;
}
p9{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size:20px;
	color: yellow;
	margin: 0px auto;
	padding: 0px auto;
}

p10{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 20px;
	color: whitesmoke;
	margin: 0px auto;
	padding: 0px auto;
}

f{
	font-family: "Arial Black";
	color: blue;
}

img{
	 display: block;
	 margin: auto;
	 width: 600px;
}

img1{
	 display: block;
	 margin: auto;
	 width: 50px;
}

.img2{
	width: 750px;
	height: 625px;
	z-index: 100px;
	float: right;
	clear: left;
}
	
#body1{	    	
}

.Monstage{
	display: block;
    position: relative;
	transition: 0.5s;
    height: 100%;
    background-color:-moz-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);		
}

.Maformation{
    display: block;
    position: relative;
	transition: 0.5s;
    height: 100%;
    background-color:-moz-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);	
}

.Monexperience{
	display: block;
	position: relative;
	transition: 0.5s;
	height: 134vw;
	background-image: -moz-linear-gradient(125deg, #ffb4aa 0%, #d02ac2 100%);
    background-image: -webkit-linear-gradient(125deg, #ffb4aa 0%, #d02ac2 100%);
    background-image: -ms-linear-gradient(125deg, #ffb4aa 0%, #d02ac2 100%);	
}

.Creative{
	display: block;
	position: relative;
	transition: 0.5s;
	height: 134vw;
	background: -webkit-radial-gradient( 20% 40% closest-side, orange 10%, purple 30%, rgb(255,215,0) 60%);
	background: -o-radial-gradient( 20% 40% closest-side, orange 10%, purple 30%, rgb(255,215,0) 60%);
	background: -moz-radial-gradient( 20% 40% closest-side, orange 10%, purple 30%, rgb(255,215,0) 60%);		
    background: radial-gradient( closest-side at 20% 40%, orange 10%, purple 30%, rgb(255,215,0) 60%);	
}

.Photo{
}

.Mesprojets{
	display: block;
	position: relative;
	height: 134vw;
	background: -webkit-radial-gradient( 20% 40%, farthest-side, orange 10%, purple 30%, red 60%);
	background: -o-radial-gradient( 20% 40% farthest-side, orange 10%, purple 30%, red 60%);
	background: -moz-radial-gradient( 20% 40% farthest-side, orange 10%, purple 30%, red 60%);		
    background: radial-gradient( farthest-side at 20% 40%, orange 10%, purple 30%, red 60%);		
}


.Monweb{
	display: block;
	position: relative;
	height: 134vw;
	background-image: -moz-linear-gradient(125deg, rgb(127,255,0) 0%, rgb(0,255,0) 100%);
    background-image: -webkit-linear-gradient(125deg, rgb(127,255,0) 0%, rgb(0,255,0) 100%);
    background-image: -ms-linear-gradient(125deg, rgb(127,255,0) 0%, rgb(0,255,0) 100%);	
}

.diapo1{
	margin: 0 auto;
	width: 960px;
	height: 500px;
	border: 3px solid #333;
	background-image: url("Images/Imagefacebook5.jpg");
	
	webkit-animation-name: diapo1;
	webkit-animation-duration: 9s;
	webkit-animation-timing-function: linear;
	webkit-animation-iteration-count: infinite;
	webkit-animation-direction: normal;
		
	moz-webkit-animation-name: diapo1;
	moz-webkit-animation-duration: 9s;
	moz-webkit-animation-timing-function: linear;
	moz-webkit-animation-iteration-count: infinite;
	moz-webkit-animation-direction: normal;
	
	animation-name: diapo1;
	animation-duration: 9s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
	
	
}

@-webkit-keyframes diapo1{
	0%{background-image: url("Images/Imagefacebook5.jpg");}
	33%{background-image: url("Images/Imagefacebook4.jpg");}
	66%{background-image: url("Images/Imagefacebook3.jpg");}
}

@-moz-keyframes diapo1{
	0%{background-image: url("Images/Imagefacebook5.jpg");}
	33%{background-image: url("Images/Imagefacebook4.jpg");}
	66%{background-image: url("Images/Imagefacebook3.jpg");}
}

@keyframes diapo1{
	0%{background-image: url("Images/Imagefacebook5.jpg");}
	33%{background-image: url("Images/Imagefacebook4.jpg");}
	66%{background-image: url("Images/Imagefacebook3.jpg");}
}

.diapo2{
	margin: 0 auto;
	width: 960px;
	height: 500px;
	border: 3px solid #333;
	background-image: url("Images/Image1.jpg");
	background-image: url("Images/Image2.jpg");
	background-image: url("Images/Image3.jpg");
	
	webkit-animation-name: diapo2;
	webkit-animation-duration: 12s;
	webkit-animation-timing-function: linear;
	webkit-animation-iteration-count: infinite;
	webkit-animation-direction: normal;
	
	moz-webkit-animation-name: diapo2;
	moz-webkit-animation-duration: 12s;
	moz-webkit-animation-timing-function: linear;
	moz-webkit-animation-iteration-count: infinite;
	moz-webkit-animation-direction: normal;
	
	animation-name: diapo2;
	animation-duration: 12s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;	
}

@-webkit-keyframes diapo2{
	0%{background-position: 0px 0px;}
	2%{background-position: 0px 0px;}
	31%{background-position: -960px 0px;}
	35%{background-position: -960px 0px;}
	64%{background-position: -1920px 0px;}
	68%{background-position: -1920px 0px;}
	98%{background-position: -2880px 0px;}	
	100%{background-position: -2880px 0px;}	
}

@-moz-keyframes diapo2{
	0%{background-position: 0px 0px;}
	2%{background-position: 0px 0px;}
	31%{background-position: -960px 0px;}
	35%{background-position: -960px 0px;}
	64%{background-position: -1920px 0px;}
	68%{background-position: -1920px 0px;}
	98%{background-position: -2880px 0px;}	
	100%{background-position: -2880px 0px;}		
}
@keyframes diapo2{
    0%{background-position: 0px 0px;}
	2%{background-position: 0px 0px;}
	31%{background-position: -960px 0px;}
	35%{background-position: -960px 0px;}
	64%{background-position: -1920px 0px;}
	68%{background-position: -1920px 0px;}
	98%{background-position: -2880px 0px;}	
	100%{background-position: -2880px 0px;}	
}

.animate{
	font-family: Verdana sans-serif;
	font-size: 25px;
	text-align: center;
	width: 400px;
	height: 250px;
	background-color: blue;
	position: relative;
	-webkit-animation-name: chgt-couleur;
	-webkit-animation-duration:5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-delay: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate; 
	
	-moz-animation-name: chgt-couleur;
	-moz-animation-duration:5s;
	-moz-animation-timing-function: ease;
	-moz-animation-delay: 4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate; 
	
	-o-animation-name: chgt-couleur;
	-o-animation-duration:5s;
	-o-animation-timing-function: ease;
	-o-animation-delay: 4s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
	
	animation-name: chgt-couleur;
	animation-duration:5s;
	animation-timing-function: ease;
	animation-delay: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate; 	
}

@-webkit-keyframes chgt-couleur{
	0%{background-color: lawngreen; top: 0px; left: 0px;}
	25%{background-color: yellow; top: 0px; left: 200px;}
	50%{background-color: red; top: 200px; left: 200px;}
	75%{background-color: blueviolet; top: 200px; left: 0px;}
	100%{background-color: darkorange; top: 0px; left: 0px;}
}

